<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dmall.dao.UserMapper">

    <select id="queryById" parameterType="int" resultType="org.dmall.entity.User">
        SELECT * FROM
              t_user
        WHERE
              user_id = #{id}
    </select>

    <select id="queryByName" parameterType="string" resultType="org.dmall.entity.User">
        SELECT * FROM
              t_user
        WHERE
              user_name = #{name}
    </select>

    <select id="queryByUserQueryVo" parameterType="org.dmall.entity.UserQueryVo" resultType="org.dmall.entity.UserCustom">
        SELECT * FROM
          t_user
        WHERE
          user_name=#{userQueryVo.userCustom.userName}
    </select>

    <select id="queryUserCount" parameterType="org.dmall.entity.UserQueryVo" resultType="int">
        SELECT  count(*) FROM
          t_user
        WHERE
          user_name = #{userCustom.userName}
    </select>

</mapper>